In [21]:
import pandas as pd
import numpy as np
import matplotlib as pl
import sqlite3

%matplotlib inline

In [23]:
# File Path
file_path = '/Users/tracesmith/Desktop/Udacity/Nanodegree/Machine_Learning/Project_5/2016_presidential_election/database.sqlite'

#Connect to database
db = sqlite3.connect(file_path)
c = db.cursor()

In [24]:
# Generate Dataframe
df_primary_results = pd.read_sql_query('SELECT * FROM primary_results', db)
df_county_facts = pd.read_sql_query('SELECT * FROM county_facts',db)
df_county_facts_dictionary = pd.read_sql_query('SELECT * FROM county_facts_dictionary ',db)

In [25]:
# Primary results
df_primary_results.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001,Republican,Donald Trump,5387,0.445
1,Alabama,AL,Autauga,1001,Republican,Ted Cruz,2482,0.205
2,Alabama,AL,Autauga,1001,Republican,Marco Rubio,1785,0.148
3,Alabama,AL,Autauga,1001,Republican,Ben Carson,1764,0.146
4,Alabama,AL,Autauga,1001,Republican,John Kasich,421,0.035

In [26]:
# County FPacts data
df_county_facts.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [27]:
# Description of county facts:
df_county_facts_dictionary

   column_name                                        description
0    PST045214                          Population, 2014 estimate
1    PST040210          Population, 2010 (April 1) estimates base
2    PST120214  Population, percent change - April 1, 2010 to ...
3    POP010210                                   Population, 2010
4    AGE135214               Persons under 5 years, percent, 2014
5    AGE295214              Persons under 18 years, percent, 2014
6    AGE775214           Persons 65 years and over, percent, 2014
7    SEX255214                      Female persons, percent, 2014
8    RHI125214                         White alone, percent, 2014
9    RHI225214     Black or African American alone, percent, 2014
10   RHI325214  American Indian and Alaska Native alone, perce...
11   RHI425214                         Asian alone, percent, 2014
12   RHI525214  Native Hawaiian and Other Pacific Islander alo...
13   RHI625214                   Two or More Races, percent, 2014
14   RHI725214                  Hispanic or Latino, percent, 2014
15   RHI825214  White alone, not Hispanic or Latino, percent, ...
16   POP715213  Living in same house 1 year & over, percent, 2...
17   POP645213           Foreign born persons, percent, 2009-2013
18   POP815213  Language other than English spoken at home, pc...
19   EDU635213  High school graduate or higher, percent of per...
20   EDU685213  Bachelor's degree or higher, percent of person...
21   VET605213                                Veterans, 2009-2013
22   LFE305213  Mean travel time to work (minutes), workers ag...
23   HSG010214                                Housing units, 2014
24   HSG445213                      Homeownership rate, 2009-2013
25   HSG096213  Housing units in multi-unit structures, percen...
26   HSG495213  Median value of owner-occupied housing units, ...
27   HSD410213                              Households, 2009-2013
28   HSD310213                   Persons per household, 2009-2013
29   INC910213  Per capita money income in past 12 months (201...
30   INC110213                 Median household income, 2009-2013
31   PVY020213    Persons below poverty level, percent, 2009-2013
32   BZA010213               Private nonfarm establishments, 2013
33   BZA110213                  Private nonfarm employment,  2013
34   BZA115213  Private nonfarm employment, percent change, 20...
35   NES010213                   Nonemployer establishments, 2013
36   SBO001207                        Total number of firms, 2007
37   SBO315207                   Black-owned firms, percent, 2007
38   SBO115207  American Indian- and Alaska Native-owned firms...
39   SBO215207                   Asian-owned firms, percent, 2007
40   SBO515207  Native Hawaiian- and Other Pacific Islander-ow...
41   SBO415207                Hispanic-owned firms, percent, 2007
42   SBO015207                   Women-owned firms, percent, 2007
43   MAN450207             Manufacturers shipments, 2007 ($1,000)
44   WTN220207           Merchant wholesaler sales, 2007 ($1,000)
45   RTN130207                        Retail sales, 2007 ($1,000)
46   RTN131207                      Retail sales per capita, 2007
47   AFN120207  Accommodation and food services sales, 2007 ($...
48   BPS030214                             Building permits, 2014
49   LND110210                    Land area in square miles, 2010
50   POP060210                   Population per square mile, 2010